* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 0 auto;
    padding-top: 15vh;
    height: 80vh;
    width: 90%;
    background-color: rgb(212, 223, 245);
}

header, footer {
    width: 100%;
    background-color: rgb(250, 197, 255);
}

header {
    position: fixed;
    border-bottom: 5px solid rgb(44, 41, 87);
    height: 10vh;
    z-index: 10;
}

footer {
    height: 20vh;
}

#linkList {
    position: absolute;
    width: 50%;
    left: 50%;
    bottom: 0px;
}

li {
    display: inline-block;
    padding-right: 2vw;
}

#logo {
    width: 100px;
    height: 100px;
}

.dataForm {
    width: 80%;
    margin: 0 auto;
}